<div class="push"></div><!-- .push -->
<footer class="col">
  &copy; Copyright @name @current_year
  <a class="atom-rss" href="@root_path/?/feed/">RSS</a>
  <br>
  <em>
    Content managed by <a href="http://www.staceyapp.com" target="_blank">stacey</a>
  </em>
</footer>

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="@root_path/public/js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
<script src="@root_path/public/js/libs/mustache.js"></script>
<script src="@root_path/public/js/libs/jquery.ba-bbq.js"></script>
<script src="@root_path/public/js/libs/underscore-min.js"></script>
<script type="text/javascript">var UnderScore = _.noConflict(); </script>
<!-- scripts concatenated and minified via ant build script-->
  <script src="@root_path/public/js/plugins.js?v=@plugins_version"></script>
  <script type="text/javascript">
    var TC = TC || {}; // my initials; namespace for my js code
    TC.stacey = TC.stacey || {};
    TC.stacey.root_path = '@root_path';
    TC.twitter = {
      handle: '@'+'@twitter',
      api_key: '@twitter_api_key'
    };
    TC.gal = {
      key: '@gal_key'
    };
  </script>
  <script src="http://platform.twitter.com/anywhere.js?id=@twitter_api_key&v=1" type="text/javascript"></script>
  <script src="@root_path/public/js/script.js?v=@script_version"></script>
<!-- end concatenated and minified scripts-->

<!--[if lt IE 7 ]>
  <script src="@root_path/public/js/libs/dd_belatedpng.js"></script>
  <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
<![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '@gal_key']);
    _gaq.push(['_setDomainName', '.teddycaddy.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
