html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body {
  font:13px/1.231 sans-serif;
  *font-size:small;
}

select, input, textarea, button {
  font:99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

a, a:active, a:visited {
  background:none repeat scroll 0 0 #FEFFC7;
  color:#444444;
  display:inline-block;
  margin:1px 0;
  padding:1px;
}

a:hover { color: #454545; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; }

/* Colours */

body, a { color: #222; }
em, em a, strong, p.date, div#project-navigation p { color: #999; }
a {
  border-bottom: 1px solid #e2e2e2;
  text-decoration: none;
}

/* Typography */

html, body {
  font-family: "Times New Roman", times, serif;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  height: 100%;
}

ul li, p, em, .description {
  font-size: 13px;
  font-style: normal;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

h1 strong {
  font-weight: normal;
  text-transform: none;
  display: block;
  letter-spacing: 0px;
}

h2 {
  font-size: 26px;
  margin: 0px;
  font-weight: normal;
  letter-spacing: 0.02em;
}

p.date {
  font-size: 11px;
  letter-spacing:0.03em;
}

p#project-count, p#gallery-count {
  text-align: right;
}

p#gallery-count span {
  letter-spacing: 0.08em;
}

/* Layout */

#container {
  width: 970px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 10px auto -4em;
}

header {
  height: 80px;
}

header h1 {
  margin:0 20px 0 0 !important;
}

#profession {

}

.col {
  float: left;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}

.col .col { margin: 0px; }

.one { width: 60px; }
.two { width: 150px; }
.three { width: 230px; }
.four { width: 310px; }
.five { width: 390px; }
.six { width: 470px; }
.seven { width: 550px; }
.eight { width: 630px; }
.nine { width: 710px; }
.ten { width: 790px; }
.eleven { width: 870px; }
.twelve { width: 950px; }

p { margin: 0px 0px 5px; }

hr {
  display: block;
  clear: both;
  margin: 0px 0px 45px;
  padding: 0px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}

.col hr {
  margin: 0px 0px 15px;
}

ul li {
  margin: 0px 0px 3px;
}

#navigation, ul.projects {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navigation {
  margin: 10px 0 0 10px;
}

#navigation li, .projects li {
  clear: both;
}

#navigation ol {
  display: none;
  margin: 0px;
  padding: 4px 0px 4px 25px;
}

.projects li {
  float: left;
  padding: 0px 0px 8px;
}
.push {
  clear: both;
}

footer {
  clear:both;
  display:inline;
  height:4em;
  line-height:1.4;
  text-align:center;
  width:99%;
}

.date {
  text-align: right;
  padding: 14px 20px 0px 0px;
}

#container .description p {
  clear: both;
}

#container .description h2 {
  padding: 0px 0px 15px;
}

#media {
  clear: both;
  padding: 30px 0px 0px 80px;
}

.media {
  margin: 0px 0px 10px;
}

.description div#images {
  padding: 0px 0px 0px 0px;
}

#media img {
  margin: 0px 0px 10px;
}

p#project-count, p#gallery-count {
  margin: 2px 20px 0px 0px;
}

p#gallery-count, div#gallery-navigation {
  display: none;
}

p#gallery-count span {
  margin: -1px 0px 0px;
  display: block;
}

#project-navigation {
  margin: 0px 0px 0px 20px;
}

#project-navigation p, #gallery-navigation p {
  margin: 0px 0px 1px;
}

#image-wrapper {
  overflow: hidden;
  width: 560px;
}

#image-holder {
  width: 100000000px;
}

#image-holder .image {
  float: left;
  width: 560px;
}

.project-thumb {
  padding: 0px 10px 5px 0px;
  float: left;
  display: none;
}

.atom-rss {
  margin: 0px 0px 0px 6px;
  padding: 1px 2px 0px;
  font-size: 0.93em;
  letter-spacing: 0.08em;
  background: #ddd;
}

/* Javascript-enabled styles */
.js p#gallery-count, .js #gallery-navigation { display: block; }
.js p#project-count { display: none; }
.js #media .image { display: none; }
.js #media .image:first-child { display: block; }
