if !@is_xhr do
:head
<div id="container">
  :header
  :navigation
  <article id="content" role="main" class="col seven">
endif
    <div class="row ">
      if $siblings do
        :next-page
        :previous-page
        <div class="clear" />
      endif
      
    </div>
    <p class="date row">Launched: @date</p>
    <div class="description col seven">
      <h2>@title</h2>
      @content
      if @quote do
        <div class="quote">@quote</div>
      endif
    </div>
    
    <p id="gallery-count" class="col one">
      <em>&#8470;</em> <span>1/1</span>
    </p>
    <div id="gallery-navigation" class="col three">
      <p><a href="#" id="next-image">Next image</a> <em>&rarr;</em></p>
      <p><a href="#" id="previous-image">Previous image</a> <em>&larr;</em></p>
    </div> <!-- end #gallery-navigation -->
    
    :media
:layout_bottom
